.greetingForm {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
}

.inputAndButtonContainer {
    display: flex;
    width: 462px;
    min-height: 36px;
    align-items: flex-start;
    justify-content: space-between;
}

.error {
    color: #CC0000;
}

.input {
    width: 372px;
    height: 36px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    color: #000000;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.input:focus {
}

.errorInput {
    width: 372px;
    height: 36px;
    border: 1px solid #CC0000;
    border-radius: 5px;
    color: #000000;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 36px;
    background-color: rgba(0, 102, 204, .5);
    color: #FFFFFF;
    border: none;
    border-radius: 3px;
}

.button:focus {
    background-color: rgba(0, 102, 204, 1);
}

.button:active {
    background-color: rgba(0, 102, 204, 1);
}

.button:disabled {
    background-color: rgba(0, 102, 204, .5);
}

.text {
    color: rgba(0, 0, 0, 0.5);
}

.greeting {
    color: rgba(0, 0, 0, 1);

}
