.burgerMenuIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 17px 70px;
    box-shadow: 0 0 2px 0 rgba(29, 33, 38, 0.1),
                0 0 40px 0 rgba(29, 33, 38, 0.13);
    background: rgb(255, 255, 255);
}

.header h1 {
    color: rgb(0, 0, 0);
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-align: left;
}